<?xml version="1.0"?>
<model>
  <name>blue_cone</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Campus Motorsport Hannover</name>
  </author>
    <description>Model of Big Blue cone used in Formula Student Driverless events.
    	Ref: Model name WEMAS 400.000043.00.00</description>
</model>
